<h1>Here is the list: <%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <p> <%= bookmark.movie.title %> </p>
  <p> <%= bookmark.comment %></p>
<% end %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, as: :text %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
