<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
</div>
<br>

<div class="container">

  <div class="form container w-75 mb-4">
    <div class="form-content">
      <h4>Add a movie to the list!</h4>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, prompt: 'Select a movie' %>
          <%= f.input :comment, as: :text, placeholder: 'Enter a comment about the movie' %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cards-show">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-bookmark">
          <%= image_tag bookmark.movie.poster_url, class: "movie-poster" %>
            <div class="card-bookmark-content">
              <div class="title-rating">
                <h5><strong> <%= bookmark.movie.title %> </strong></h5>
                <h5><strong> <%= bookmark.movie.rating %> </strong></h5>
              </div>
              <div class="overview">
              <p> <%= bookmark.movie.overview[0..200]... %></p>
              </div>
              <div class="comment-delete">
                <p> <i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %> <i class="fa-solid fa-quote-right"></i></p>
                <p><%= link_to "", bookmark_path(bookmark), class: "fa-solid fa-trash-can", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
