<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
</div>
<br>
<div class="container">
<% @list.bookmarks.each do |bookmark| %>
  <div class="d-flex flex-column">
    <%= image_tag bookmark.movie.poster_url, style: 'height: 50vh; width: 20vw' %>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <h2> <%= bookmark.movie.title %> </h2>
        <h2> <%= bookmark.movie.rating %></h2>
      </div>
      <p> <%= bookmark.movie.overview %></p>
      <div class="d-flex justify-content-between">
        <p> Comment: <%= bookmark.comment %></p>
        <p><%= link_to "delete this bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    </div>
  </div>
<% end %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, as: :text, placeholder: 'Enter a comment about the moive' %>
  <%= f.association :movie, prompt: 'Select a movie' %>
  <%= f.submit %>
<% end %>
</div>
