<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <nav class="navbar-lewagon navbar-collapse">
    <a class="navbar-lewagaon navbar-brand img" href="#">
      <i class="fa-solid fa-clapperboard"></i>
    </a>
    <a class="navbar-brand" href="http://localhost:3000/lists">My Lists</a>
    <a class="navbar-brand" href="http://localhost:3000/lists/new">New List</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
